<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileprogramming.mercubuana.todolist" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_notes_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_notes_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodoList" >
        <activity android:name="com.mobileprogramming.mercubuana.todolist.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobileprogramming.mercubuana.todolist.MainActivity">
        </activity>
        <activity android:name="com.mobileprogramming.mercubuana.todolist.DetailTugasActivity" />

        <receiver android:name="com.mobileprogramming.mercubuana.todolist.TugasBroadcastReceiver"/>
    </application>

</manifest>